@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.App,
.downloadPage {
  width: 350px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.downloadPageWrapper {
  height: 80%;
  width: 80%;
  font-size: 15px;
}

.disabled {
  display: none !important;
}

.page {
  height: 325px;
  width: 100%;
  display: flex;
}

.codePage {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.codePage .roomIdContainer {
  font-size: 25px;
  font-weight: bold;
}
.codePage .restoreRoomIdButton {
  outline: none;
  border: none;
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 1px;
  margin-top: 20px;
  cursor: pointer;
}

.bottomNavbar {
  height: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 4px;
}
.bottomNavbar .navbarItem {
  padding: 3px;
  cursor: pointer;
}
.bottomNavbar .activeNavbarItem {
  border-bottom: 1px solid grey;
}

.currentPageSettings {
  padding: 15px;
  align-items: center;
  flex-direction: column;
}
.currentPageSettings .wrapper {
  padding: 15px;
  height: 100%;
  width: 87%;
}
.currentPageSettings .imageUploadField {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currentPageSettings .uploadedFileInfoClear {
  cursor: pointer;
}
.currentPageSettings .uploadedFileInfo {
  color: grey;
  font-size: small;
  margin-left: 20px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.currentPageSettings .imageUploadSection {
  margin-bottom: 15px;
}
.currentPageSettings .pinnedPageWrapper {
  display: flex;
  flex-direction: row;
}
.currentPageSettings .pinnedPageWrapper .pinnedPageIdSection {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.currentPageSettings .pinnedPageWrapper .pinnedPageIdSection .pinPageIdDiv {
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.currentPageSettings .pinnedPageWrapper .clearPinnedPage {
  color: grey;
  cursor: pointer;
}
.currentPageSettings .pinPageSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currentPageSettings .pinPageSection .pinPageCheckbox {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
.currentPageSettings .imageUploadInput {
  outline: none;
  border: none;
  cursor: pointer;
}
.currentPageSettings .imageUploadInput .uploadIcon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.currentPageSettings input[type=file] {
  display: none;
}

.settingsPage {
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.settingsPage .wrapper {
  width: 87%;
  height: 100%;
  padding: 15px;
}
.settingsPage .settingsItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-top: 5px;
}
.settingsPage .settingsItem .settingTitle {
  flex: 1;
}
.settingsPage .settingsItem .enableButton {
  color: green;
  cursor: pointer;
}
.settingsPage .settingsItem .disableButton {
  color: red;
  cursor: pointer;
}
.settingsPage .settingsItem .editButton {
  color: rgb(40, 40, 255);
  cursor: pointer;
  margin-left: 10px;
}

.listPage {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.listPage .listHeaderWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.listPage .listHeaderWrapper .backIconDiv {
  display: flex;
  width: 17px;
  height: 17px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.listPage .listHeaderWrapper .backIconDiv .backIcon {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.listPage .listHeaderWrapper .listHeader {
  font-size: 22px;
}
.listPage .listHeaderWrapper .addPage {
  margin-left: auto;
  font-size: 16px;
  cursor: pointer;
  padding: 7px;
}
.listPage .listItemsContainter {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
}
.listPage .listItemsContainter .listItem {
  height: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3px;
}
.listPage .listItemsContainter .listItem .listName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listPage .listItemsContainter .listItem .deleteIconContainter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.listPage .listItemsContainter .listItem .deleteIconContainter .deleteIcon {
  cursor: pointer;
  width: 17px;
  height: 17px;
}
.listPage .listItemsContainter .listItem:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=popup.css.map */