@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.App {
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.disabled {
    display: none !important;
}

.page {
    height: 325px;
    width: 100%;
    display: flex;
}

.codePage {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .roomIdContainer {
        font-size: 25px;
        font-weight: bold;
    }

    .restoreRoomIdButton {
        outline: none;
        border: none;
        background-color: orange;
        color: white;
        padding: 10px;
        border-radius: 1px;
        margin-top: 20px;
        cursor: pointer;
    }
}

.bottomNavbar {
    height: 25px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    gap: 4px;

    .navbarItem {
        padding: 3px;
        // border-radius: 4px;
        cursor: pointer;
    }

    .activeNavbarItem {
        border-bottom: 1px solid grey;
    }
}

.currentPageSettings {
    .wrapper {
        padding: 15px;
        height: 100%;
        width: 87%;
    }

    padding: 15px;
    align-items: center;
    flex-direction: column;

    .imageUploadField {
        margin-top: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .uploadedFileInfo {
        color: grey;
        font-size: small;
        margin-left: 20px;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .imageUploadSection {
        margin-bottom: 15px;
    }

    .pinnedPageWrapper {
        display: flex;
        flex-direction: row;

        .pinnedPageIdSection {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-top: 20px;

            .pinPageIdDiv {
                color: grey;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .clearPinnedPage {
            color: grey;
            cursor: pointer;
        }
    }

    .pinPageSection {
        display: flex;
        flex-direction: row;
        align-items: center;

        .pinPageCheckbox {
            margin-left: 10px;
            width: 15px;
            height: 15px;
        }
    }

    .imageUploadInput {
        outline: none;
        border: none;
        cursor: pointer;

        .uploadIcon {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }

    input[type="file"] {
        display: none;
    }
}

.settingsPage {
    flex-direction: column;
    align-items: center;
    overflow: auto;

    .wrapper {
        width: 87%;
        height: 100%;
        padding: 15px;
    }

    .settingsItem {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 18px;
        margin-top: 5px;

        .settingTitle {
            flex: 1;
        }

        .enableButton {
            color: green;
            cursor: pointer;
        }

        .disableButton {
            color: red;
            cursor: pointer;
        }

        .editButton {
            color: rgb(40, 40, 255);
            cursor: pointer;
            margin-left: 10px;
        }
    }
}

.listPage {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;

    .listHeaderWrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .backIconDiv {
            display: flex;
            width: 17px;
            height: 17px;
            justify-content: center;
            align-items: center;
            margin-right: 20px;

            .backIcon {
                width: 17px;
                height: 17px;
                cursor: pointer;
            }
        }

        .listHeader {
            font-size: 22px;
        }
        .addPage {
            margin-left: auto;
            font-size: 16px;
            cursor: pointer;
            padding: 7px;
        }
    }

    .listItemsContainter {
        display: flex;
        height: 100%;
        width: 100%;
        overflow: auto;
        flex-direction: column;

        .listItem {
            height: 20px;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;

            .listName {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .deleteIconContainter {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                .deleteIcon {
                    cursor: pointer;
                    width: 17px;
                    height: 17px;
                }
            }
        }

        .listItem:last-child {
            margin-bottom: 0;
        }
    }
}
